<head>
    <title>Django Tweeter</title>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
    {% load staticfiles %}
    <script src="{% static 'angular/angular.min.js' %}"></script>
    <script src="{% static 'angular-resource/angular-resource.min.js' %}"></script>
    <script src="{% static 'angular-animate/angular-animate.min.js' %}"></script>
    <script src="{% static 'angular-bootstrap/ui-bootstrap.min.js' %}"></script>
    <script src="{% static 'tweeter/js/app.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'tweeter/css/cover.css' %}">
    <script type="text/javascript">
    	TweeterApp.factory('AuthUser', [function(){
    		return {
    			username: "{{auth_username}}",
    			user_id: "{{auth_user_id}}",
    			first_name: "{{auth_user_first_name}}",
    			last_name: "{{auth_user_last_name}}"
    		};
    	}]);
    </script>

</head>

<body ng-app="TweeterApp" ng-controller="TweetsController">
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container" style="padding: 5% 0 0 0">

                <div class="masthead clearfix" style="height:5%; position: absolute;">
                    <div class="inner" style="margin:0 0 2% 0;">
                        <h3 class="masthead-brand">Tweeter</h3>
                        <nav>
                            <ul class="nav masthead-nav" ng-init="activeTab = 'all-tweets'">
                                <li ng-class="{'active': activeTab == 'all-tweets'}" ng-click="activeTab = 'all-tweets'"><a>Tweets</a></li>
                                <li ng-class="{'active': activeTab == 'my-tweets'}" ng-click="activeTab = 'my-tweets'"><a>My tweets</a></li>
                                <li ng-class="{'active': activeTab == 'profile'}" ng-click="activeTab = 'profile'"><a>Profile</a></li>
                                <li ng-show="currentUser.username==''" ng-class="{'active': activeTab == 'login'}" ng-click="activeTab = 'login'" data-toggle="modal" data-target="#auth-modal"><a>Login</a></li>
                                <li ng-show="currentUser.username==''" ng-class="{'active': activeTab == 'signup'}" ng-click="activeTab = 'signup'" data-toggle="modal" data-target="#auth-modal"><a>Signup</a></li>
                                <li ng-show="currentUser.username!=''" ng-class="{'active': activeTab == 'logout'}" ng-click="activeTab = 'logout'" data-toggle="modal" data-target="#auth-modal"><a>Logout</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="inner cover" style="overflow: scroll; margin: 3% 0 0 0; position: relative;">
                    <h4>
						<textarea name="new-tweet" ng-model="newTweetText" rows=3 
						style="padding: 3%; border-radius: 7px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; color: black;" placeholder="Watcha tweetin..."></textarea>
            		</h4>
            		<button ng-click="newTweetSubmit(newTweetText)" style="margin: 1% 0 3% 0; width: 100%;" type="button" class="btn btn-success">
            		<h4>Tweet</h4>
            		</button>
            		<div id="all-tweets-container" style="overflow-y: scroll;" ng-show="activeTab == 'all-tweets'">
                    	<div ng-repeat="tweet in allTweets" style="border-style: solid; border-color: white; padding: 3%; margin: 1% 0 3% 0; border-radius: 7px;">
                        	<p>[[tweet.text]]</p>
                        	<hr>
                        	<span>[[tweet.creator]] at [[tweet.timestamp]]</span>
                    	</div>
                    </div>
                    <div id="my-tweets-container" style="overflow-y: scroll;" ng-show="activeTab == 'my-tweets'">
                    	<div ng-hide="currentUser.username == ''" ng-repeat="tweet in allTweets | filter: {creator: currentUser.username}" style="border-style: solid; border-color: white; padding: 3%; margin: 1% 0 3% 0; border-radius: 7px;">
                        	<p>[[tweet.text]]</p>
                        	<hr>
                        	<span>[[tweet.creator]] at [[tweet.timestamp]]</span>
                    	</div>
                    	<div ng-show="currentUser.username == ''">
                    		<h3>
                    		<a ng-click="activeTab = 'login'" data-toggle="modal" data-target="#auth-modal">Login</a> to see your tweets here
                    		</h3>
                    	</div>
                    </div>
                    <div id="my-user-profile" ng-show="activeTab == 'profile'">
                    	<h3>
	                    	<div ng-hide="currentUser.username == ''">Username : [[currentUser.username]] <br></div>
	                    	<div ng-show="currentUser.username == ''"><a ng-click="activeTab = 'login'" data-toggle="modal" data-target="#auth-modal">Login</a> to see your profile here</div>
	                    	<div ng-hide="currentUser.first_name == ''"> First Name: [[currentUser.first_name]] <br></div>
	                    	<div ng-hide="currentUser.last_name == ''">Last Name: [[CurrentUser.last_name]]</div>
	                    	<span>
	                    	<a ng-click="activeTab = 'change-password'">
		                    	<button ng-hide="currentUser.username == ''" style="margin: 1% 0 3% 0;" type="button" class="btn btn-default">
		                    		Change password
		                    	</button>
	                    	</a>
	                    	</span>
	                    </h3>
                    </div>
                </div>

                <div id="auth-modal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" ng-click="activeTab = 'all-tweets'">&times;</button>
                                <h4 class="modal-title">Modal Header</h4>
                            </div>
                            <div class="modal-body">
                                <div ng-show="activeTab=='login'" >
                                    {% include 'account/login.html' %}
                                </div>
                                <div ng-show="activeTab=='signup'">
                                    {% include 'account/signup.html' %}
                                </div>
                                <div ng-show="activeTab=='logout'">
                                    {% include 'account/logout.html' %}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="activeTab = 'all-tweets'">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</body>